body {
  font-family: Arial;
  background: #f5fff5;
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input, select, button {
  padding: 8px;
  margin-top: 5px;
}

button {
  background: green;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

#results {
  margin-top: 20px;
}
.card {
  background: #ffffff;
  padding: 15px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.meal {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
/* ===== LOGIN PAGE STYLES ===== */

.login-body {
  height: 100vh;
  background: linear-gradient(135deg, #6ccf8e, #3fa34d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #ffffff;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2 {
  margin-bottom: 5px;
  color: #2f7d32;
}

.subtitle {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-container input:focus {
  outline: none;
  border-color: #3fa34d;
}

.login-container button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: #3fa34d;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.login-container button:hover {
  background: #2e7d32;
}

.footer-text {
  margin-top: 15px;
  font-size: 12px;
  color: #888;
}

